<table class="table">
<thead class="table-dark"> nav
  <tr>
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Handle</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">1</th>
    <td>Keith</td>
    <td>Otto</td>
    <td>@KJ</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Almario</td>
    <td>Miguel</td>
    <td>@AIII</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Noie</td>
    <td>the Bird</td>
    <td>@Bin</td>
  </tr>
</tbody>
</table>

<table class="table">
<thead class="thead-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Handle</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">1</th>
    <td>Sotto</td>
    <td>Oos</td>
    <td>@Mc</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Kevin</td>
    <td>Thor</td>
    <td>@Do</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Smith</td>
    <td>Heart</td>
    <td>@San</td>
  </tr>
</tbody>
</table>